<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SkuSaleAttrValueMapper">

    <!--定义Map的resultMap-->
    <resultMap id="spuValueIdsMap" type="java.util.Map" autoMapping="true">

    </resultMap>
    <select id="selectSaleAttrValuesBySpu" resultMap="spuValueIdsMap">
        select sku_id, group_concat(sale_attr_value_id order by base_sale_attr_id separator '|') value_ids
        from sku_sale_attr_value sav
                 inner join spu_sale_attr_value ssav on ssav.id = sav.sale_attr_value_id and sav.is_deleted = 0 and ssav.is_deleted =0
        where sav.spu_id = #{spuId}
        group by sku_id
    </select>
</mapper>
